.section{
    display: flex;
    flex-direction: column;

}

.questionContent{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.6s ease;
    gap: 0.75rem;
}

.questionTitle{

    font-size: 22px;
    font-weight: 500;
    color: var(--font-grey);
    text-align: left;
    line-height: 28px;
}


.responseContent{
    overflow: hidden;
    margin-bottom: 24px;
}

.responseText{
    transition: 0.5s ease;
    color: var(--font-grey);
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    display: grid;
    grid-template-columns: 18fr 1fr;
    padding-left: 38px;
    margin-top: 10px;

}

#dropdown{
    width: 24px;
    height: 24px;
}

.rotate{
    transform: rotate(270deg);
    transition:ease-in-out 0.4s;
}

.active .rotate{
    transform: rotate(360deg);
}

@media screen and (max-width: 550px) {
    .questionTitle{
        font-size: 14px;
        line-height: 18px;
    }

    .responseText{
        font-size: 12px;
        line-height: 18px;
        padding-left: 0;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px 0 26px;
        width: fit-content;
    }
    .questionContent{
        gap: 0.50rem;
    }
    
    #dropdown{
        width: 18px;
        height: 18px;
    }

}

