.section{
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}

.questionContent{
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 6px;
    display: flex;
    outline: none;
    width: 62.5rem;
    margin: 24px 0 10px;
    transition: 0.6s ease;
}

.questionTitle{
    font-size: 22px;
    font-weight: 700;
    color: var(--font-grey);
    text-align: left;
}

.icon{
    margin-left: 0.5rem
}

.responseContent{
    overflow: hidden;
}

.responseText{
    transition: 0.5s ease;
    padding-left: 8px;
    color: var(--font-grey);
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin-left: 1.25rem;
    width: 55.7rem;
    display: flex;
}

.rotate{
    transform: rotate(360deg);
    transition:ease-in-out 0.4s;
}

.active .rotate{
    transform: rotate(180deg);
}
