.contributorsContainer {
	display: flex;
	gap: 1.5vw;
	flex-wrap: wrap;
}

.contributorsContainer > a {
	text-decoration: none;
}

.contributorsContainer > a > img {
	border-radius: 50%;
	width: 10vh;
}